@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


@font-face {
  font-family: 'K24KurdishBold-Bold';
  src: url('K24KurdishBold-Bold.woff' ) format('woff2');
}


body {
    font-family: 'K24KurdishBold-Bold';
    color:#333;
    box-sizing: border-box;
    

}



header {
   
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
    
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 90px;

}

.logo img {
    width: 90px;
    margin-left: 2px;
    border-radius: 30px;

    
}



p{
    font-family: 'K24KurdishBold-Bold';
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
    
    Font-size: 16px;
}


.dow{
	margin-top: 65px;


	
}


.template-footer {
  margin-top: 80px;
  padding: 1rem;
  color: #FFF;
  text-align: center;
  background-color: #842B37;
  border-top: .05rem solid #e5e5e5;
}

		  
footer a {
	
  color: #fff;
  font-size: 10px;
  transition-duration: 0.2s;
}
		  
.social {
margin-bottom:20px;
}
.fot{
	font-size: 13px;
	font-family: 'K24KurdishBold-Bold';
	
}
